# Ignorer les photos brutes des personnes
Abdlatif/
Said/
Ayoub/
Bilal/

# Ignorer les données générées automatiquement
dataset/
model.yml
labels.json
recognized/

# Environnements / caches
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Dossiers IDE
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db
.venv/